{% extends 'base.html' %}


{% block head %}

{% endblock %}

{% block body %}
<div class = "container">
    <div class = "row">
        <div class = "col-8">
            <div class = "content-left">
                <table>
                    <thead>
                        <tr>
                            <td>Title:</td>
                        </tr>
                    </thead>
                    {% for movie in list %}
                        <tr>
                            <td><a href="{{ url_for('movie', key=movie.Title) }}">{{ movie["Title"] }}</a></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class = "col">
            <div class = "content-right">
                <h1>Home</h1>
                <p>Welcome to the movie database. You can search by name and click on any movie to see more info.</p>
                <form class = "searchBar-form" method="POST" enctype="multipart/form-data">
                    <input class = "searchBar" type="text" placeholder="search" name="search">
                    <button class = "searchButton">Search</button>
                </form>
            </div>
        </div>
    </div>
</div> 
{% endblock %}
